<% include partials/header %>
      <h1><%= title %></h1>
      <br>
      <form action="/users/add" method="post">
        <label>First Name</label>
        <br>
        <input type="text" name="first_name" >
        <br>
        <label>Last name</label>
        <br>
        <input type="text" name="last_name">
        <br>
        <label>Email Address</label>
        <br>
        <input type="text" name="email" value="">
        <br>
        <br>
        <input type="submit" name="" value="Submit">
      </form>
      <br>
      <% users.forEach(function(user){ %>
        <li><%= user.first_name %><br></li>
      <%}) %>
<% include partials/footer %>
